<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <queries>
        <package android:name="com.mobile.legends" />
        <package android:name="com.justgame.jails" />
        <package android:name="com.newleaf.app.android.victor" />
        <package android:name="com.storymatrix.drama" />
        <package android:name="com.newreading.goodreels" />
        <package android:name="com.netshort.abroad" />
        <package android:name="com.dramawave.app" />
        <package android:name="tv.flareflow.drama" />
        <package android:name="com.garanti.cepsubesi" />
        <package android:name="io.voodoo.holeio" />
        <package android:name="com.sh.fidget.toys.mini.relaxing.antistress.games" />
        <package android:name="com.playstrom.dop2" />
        <package android:name="com.tvf.anti.stress.relaxing.mini.games" />
        <package android:name="com.vincentb.MobControl" />
        <package android:name="com.oakever.tiletrip" />
        <package android:name="com.block.juggle" />
        <package android:name="com.wood.block.sudoku.puzzle.bm" />
        <package android:name="com.vitastudio.mahjong" />
        <package android:name="com.save.princess.girl.dragon.out.and" />
        <package android:name="com.awesome.puzzlehexasort" />
        <package android:name="com.easybrain.crossword.puzzles" />
        <package android:name="com.adakami.dana.kredit.pinjaman" />
        <package android:name="com.id.kredi360" />
        <package android:name="com.binance.dev" />
        <package android:name="com.bunbunstudio.magicblocktiles" />
        <package android:name="com.unept.leveldevil" />
        <package android:name="com.easygames.race" />
        <package android:name="com.amelosinteractive.snake" />
        <package android:name="com.bm.steal.brainrot.go.tung.sahur.tralalero.bombardino" />
        <package android:name="com.youmusic.magictiles" />
        <package android:name="com.Garawell.BridgeRace" />
        <package android:name="com.Aria.TidyMaster.mi" />
        <package android:name="com.gamovation.tileclub" />
        <package android:name="com.zhiliaoapp.musically" />
        <package android:name="com.ss.android.ugc.trill" />
        <package android:name="com.amazon.mShop.android.shopping" />
        <package android:name="io.supercent.linkedcubic" />
        <package android:name="com.gtsy.annoying.punch.game" />
        <package android:name="com.playstrom.dop4" />

        <package android:name="grill.sort.food.games.match.puzzle" />
        <package android:name="funvent.tilepark" />
        <package android:name="com.mergegames.gossipharbor" />
        <package android:name="com.fc.goods.sort.matching.puzzle.triplemaster" />
        <package android:name="com.gof.global" />
        <package android:name="com.run.tower.defense" />
        <package android:name="com.greenmushroom.boomblitz.gp" />
        <package android:name="com.fun.lastwar.gp" />
        <package android:name="com.readygo.dark.gp" />
        <package android:name="com.readygo.barrel.gp" />
        <package android:name="com.hhgame.mlbbvn" />

    </queries>
    <application>

        <activity
            android:name="com.bytedance.sdk.openadsdk.activity.TTRewardExpressVideoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:excludeFromRecents="true"
            android:finishOnCloseSystemDialogs="true"
            android:launchMode="standard"
            android:theme="@style/tt_full_screen_new" />

        <activity
            android:name="com.bytedance.sdk.openadsdk.activity.TTFullScreenExpressVideoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:excludeFromRecents="true"
            android:finishOnCloseSystemDialogs="true"
            android:launchMode="standard"
            android:theme="@style/tt_full_screen_new" />
        <activity
            android:name="com.bytedance.sdk.openadsdk.activity.TTLandingPageActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:excludeFromRecents="true"
            android:finishOnCloseSystemDialogs="true"
            android:launchMode="standard"
            android:theme="@style/tt_landing_page" />

        <activity
            android:name="com.bytedance.sdk.openadsdk.activity.TTCeilingLandingPageActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:excludeFromRecents="true"
            android:finishOnCloseSystemDialogs="true"
            android:launchMode="standard" />
        <activity
            android:name="com.bytedance.sdk.openadsdk.activity.TTFullScreenVideoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:excludeFromRecents="true"
            android:finishOnCloseSystemDialogs="true"
            android:launchMode="standard"
            android:theme="@style/tt_full_screen_new" />


        <activity
            android:name="com.bytedance.sdk.openadsdk.activity.TTWebsiteActivity"
            android:excludeFromRecents="true"
            android:finishOnCloseSystemDialogs="true"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/tt_privacy_landing_page" />

        <activity
            android:name="com.bytedance.sdk.openadsdk.activity.TTVideoLandingPageLink2Activity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:excludeFromRecents="true"
            android:finishOnCloseSystemDialogs="true"
            android:launchMode="standard"
            android:theme="@style/tt_landing_page" />
        <activity
            android:name="com.bytedance.sdk.openadsdk.activity.TTDelegateActivity"
            android:excludeFromRecents="true"
            android:finishOnCloseSystemDialogs="true"
            android:launchMode="standard"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <service
            android:name="bef.four.FireBaseTool"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name="com.bytedance.sdk.openadsdk.activity.TTPlayableLandingPageActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:excludeFromRecents="true"
            android:finishOnCloseSystemDialogs="true"
            android:launchMode="standard"
            android:theme="@style/tt_landing_page" />

        <activity
            android:name="sg.bigo.ads.ad.splash.AdSplashActivity"
            android:excludeFromRecents="true"
            android:finishOnCloseSystemDialogs="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme" />

        <service android:name="bef.ice.TelMe" />

        <activity
            android:name="com.bytedance.sdk.openadsdk.activity.TTRewardVideoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:excludeFromRecents="true"
            android:finishOnCloseSystemDialogs="true"
            android:launchMode="standard"
            android:theme="@style/tt_full_screen_new" />


        <activity
            android:name="sg.bigo.ads.ad.splash.LandscapeAdSplashActivity"
            android:excludeFromRecents="true"
            android:finishOnCloseSystemDialogs="true"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme" />
        <activity
            android:name="com.bytedance.sdk.openadsdk.activity.TTAppOpenAdActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:excludeFromRecents="true"
            android:finishOnCloseSystemDialogs="true"
            android:launchMode="standard"
            android:theme="@style/tt_app_open_ad_no_animation" />

        <activity
            android:name="sg.bigo.ads.api.AdActivity"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true"
            android:finishOnCloseSystemDialogs="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name="sg.bigo.ads.api.LandingStyleableActivity"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true"
            android:finishOnCloseSystemDialogs="true"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.bytedance.sdk.openadsdk.activity.TTAdActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:excludeFromRecents="true"
            android:finishOnCloseSystemDialogs="true"
            android:launchMode="standard"
            android:theme="@style/tt_full_screen_new" />

        <activity
            android:name="sg.bigo.ads.controller.form.AdFormActivity"
            android:excludeFromRecents="true"
            android:finishOnCloseSystemDialogs="true"
            android:windowSoftInputMode="adjustPan" />

        <property
            android:name="android.adservices.AD_SERVICES_CONFIG"
            android:resource="@xml/ad_services_config"
            tools:replace="android:resource" />

        <activity
            android:name="sg.bigo.ads.api.PopupAdActivity"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true"
            android:finishOnCloseSystemDialogs="true"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentDialog"
            android:windowSoftInputMode="stateAlwaysHidden" />


        <activity
            android:name="sg.bigo.ads.api.CompanionAdActivity"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true"
            android:finishOnCloseSystemDialogs="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="sg.bigo.ads.api.LandscapeCompanionAdActivity"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true"
            android:finishOnCloseSystemDialogs="true"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="sg.bigo.ads.api.LandscapeAdActivity"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true"
            android:finishOnCloseSystemDialogs="true"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name="sg.bigo.ads.core.mraid.MraidVideoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:excludeFromRecents="true"
            android:finishOnCloseSystemDialogs="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name="com.applovin.adview.AppLovinFullscreenActivity"
            android:configChanges="fontScale|keyboard|keyboardHidden|locale|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
            android:excludeFromRecents="true"
            android:exported="false"
            android:finishOnCloseSystemDialogs="true"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name="com.applovin.sdk.AppLovinWebViewActivity"
            android:configChanges="fontScale|keyboard|keyboardHidden|locale|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
            android:excludeFromRecents="true"
            android:finishOnCloseSystemDialogs="true" />

        <!-- Mediation Debugger Activities -->
        <activity
            android:name="com.applovin.mediation.MaxDebuggerAdUnitDetailActivity"
            android:configChanges="fontScale|keyboard|keyboardHidden|locale|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
            android:theme="@style/com.applovin.mediation.MaxDebuggerActivity.Theme" />
        <activity
            android:name="com.applovin.mediation.MaxDebuggerCmpNetworksListActivity"
            android:configChanges="fontScale|keyboard|keyboardHidden|locale|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
            android:theme="@style/com.applovin.mediation.MaxDebuggerActivity.Theme" />

        <activity
            android:name="com.applovin.mediation.MaxDebuggerTcfConsentStatusesListActivity"
            android:configChanges="fontScale|keyboard|keyboardHidden|locale|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
            android:theme="@style/com.applovin.mediation.MaxDebuggerActivity.Theme" />
        <activity
            android:name="com.applovin.mediation.MaxDebuggerAdUnitWaterfallsListActivity"
            android:configChanges="fontScale|keyboard|keyboardHidden|locale|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
            android:theme="@style/com.applovin.mediation.MaxDebuggerActivity.Theme" />

        <activity
            android:name="com.applovin.mediation.MaxDebuggerActivity"
            android:configChanges="fontScale|keyboard|keyboardHidden|locale|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
            android:theme="@style/com.applovin.mediation.MaxDebuggerActivity.Theme" />
        <activity
            android:name="com.applovin.mediation.MaxDebuggerDetailActivity"
            android:configChanges="fontScale|keyboard|keyboardHidden|locale|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
            android:theme="@style/com.applovin.mediation.MaxDebuggerActivity.Theme" />


        <activity
            android:name="com.applovin.mediation.MaxDebuggerTcfStringActivity"
            android:configChanges="fontScale|keyboard|keyboardHidden|locale|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
            android:theme="@style/com.applovin.mediation.MaxDebuggerActivity.Theme" />
        <activity
            android:name="com.applovin.mediation.MaxDebuggerMultiAdActivity"
            android:configChanges="fontScale|keyboard|keyboardHidden|locale|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
            android:theme="@style/com.applovin.mediation.MaxDebuggerActivity.Theme" />
        <activity
            android:name="com.applovin.mediation.MaxDebuggerAdUnitsListActivity"
            android:configChanges="fontScale|keyboard|keyboardHidden|locale|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
            android:theme="@style/com.applovin.mediation.MaxDebuggerActivity.Theme" />
        <activity
            android:name="com.applovin.mediation.MaxDebuggerTcfInfoListActivity"
            android:configChanges="fontScale|keyboard|keyboardHidden|locale|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
            android:theme="@style/com.applovin.mediation.MaxDebuggerActivity.Theme" />
        <activity
            android:name="com.applovin.mediation.MaxDebuggerTestLiveNetworkActivity"
            android:configChanges="fontScale|keyboard|keyboardHidden|locale|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
            android:theme="@style/com.applovin.mediation.MaxDebuggerActivity.Theme" />
        <activity
            android:name="com.applovin.mediation.MaxDebuggerUnifiedFlowActivity"
            android:configChanges="fontScale|keyboard|keyboardHidden|locale|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
            android:theme="@style/com.applovin.mediation.MaxDebuggerActivity.Theme" />
        <activity
            android:name="com.applovin.creative.MaxCreativeDebuggerActivity"
            android:configChanges="fontScale|keyboard|keyboardHidden|locale|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
            android:theme="@style/com.applovin.creative.CreativeDebuggerActivity.Theme" />


        <activity
            android:name="com.applovin.creative.MaxCreativeDebuggerDisplayedAdActivity"
            android:configChanges="fontScale|keyboard|keyboardHidden|locale|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
            android:theme="@style/com.applovin.creative.CreativeDebuggerActivity.Theme" />
        <activity
            android:name="com.applovin.mediation.MaxDebuggerWaterfallSegmentsActivity"
            android:configChanges="fontScale|keyboard|keyboardHidden|locale|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
            android:theme="@style/com.applovin.mediation.MaxDebuggerActivity.Theme" />
        <activity
            android:name="com.applovin.mediation.MaxDebuggerTestModeNetworkActivity"
            android:configChanges="fontScale|keyboard|keyboardHidden|locale|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
            android:theme="@style/com.applovin.mediation.MaxDebuggerActivity.Theme" />


        <!-- mbridge base activity -->
        <activity
            android:name="com.mbridge.msdk.activity.MBCommonActivity"
            android:configChanges="keyboard|orientation"
            android:excludeFromRecents="true"
            android:exported="false"
            android:finishOnCloseSystemDialogs="true"
            android:theme="@style/mbridge_transparent_common_activity_style" />
        <!-- integration rewardVideo if aggregation nativeX pls add start -->

        <!-- integration rewardVideo if aggregation nativeX pls add end -->

        <activity
            android:name="zen.box.FourZo"
            android:configChanges="fontScale|keyboard|keyboardHidden|locale|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
            android:excludeFromRecents="true"
            android:exported="false"
            android:finishOnCloseSystemDialogs="true"
            android:icon="@drawable/nkd_jjef"
            android:label="@string/vfmk_ceks"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:roundIcon="@drawable/nkd_jjef"
            android:screenOrientation="behind"
            android:theme="@style/qqoe_ttre" />
        <activity
            android:name="com.mbridge.msdk.reward.player.MBRewardVideoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:excludeFromRecents="true"
            android:finishOnCloseSystemDialogs="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name="com.vungle.ads.internal.ui.VungleActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:excludeFromRecents="true"
            android:finishOnCloseSystemDialogs="true"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:noHistory="true" />
        <!--  vungle   end   -->
        <provider
            android:name="cat.fell.line.DisCheeck"
            android:authorities="${applicationId}.UserDisPath"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.samsung.android.sdk.command.COMMAND_PROVIDER" />
            </intent-filter>
        </provider>
        <activity android:name="com.mbridge.msdk.out.LoadingActivity" />

    </application>
</manifest>